body, input {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #205072, #56C596);
    font-family: Orbitron, sans-serif;
    font-weight: 400;
    text-align: center;
}

h1, h2 {
    margin: 25px;
    font-family: Orbitron, sans-serif;
    font-weight: 700;
 }

#player-options {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
}

#player-options img {
    border-radius: 50%;
    width: 100px;
    justify-content: center;
    align-items: center;
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 22.5%;
}

.selection:hover {
    margin-top: -10px;
}

#players {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#scores {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#reset {
    font: inherit;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #205072;
    border: 2px #205072;
}

#reset:hover {
    background-color: red;
}


