body, input {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #205072, #56C596);
    font-family: Orbitron, sans-serif;
    font-weight: 400;
    text-align: center;
}
/* Ensure game screen is hidden intially until user clicks play */
#game-screen {
    display: none;
}

/* Ensure game over screen is hidden intially until bot or human score hits 10 */
#game-over {
    display: none;
}

/* Center and align all items */
#start-screen {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Keep spock image to size*/
#spock {
    width: 400px;
    height: 400px;
}

/* Duration of fade in for start page annimation */
/* Advice on CSS animation from w3schools.com */
.fade-in-image {
    animation: fadeIn 6s;
}

/* Animation key frames */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* Modal background */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 50%; 
    height: 50%;
}

/* Modal content */
.modal-content {
    background-color: #fefefe;
    margin: 15px auto;
    padding: 20px;
    border: 1px solid #888;
}

#rules-diagram {
    width: 100%;
    height: auto;
}
 
/*  Modal close */
.close-modal {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
    color: #d60707;
    text-decoration: none;
    cursor: pointer;
}

/* heading styles */
h1, h2 {
    margin-top: 20px;
    font-family: Orbitron, sans-serif;
    font-weight: 700;
 }

 /* player option section styles */
#player-options {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
}

 /* player option images styles */
#player-options img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 22.5%;
}

 /* make selection images hover on mouse over */
.selection:hover {
    margin-top: -10px;
}

 /* player and computer choice display area styles */
#players {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

 /* score display area style */
#scores {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#result {
    font-size: 18pt;
    font-weight: 700;
}

 /* reset and rules button styles */
#reset, #rule-btn, #start-btn {
    font: inherit;
    width: 70px;
    height: 70px;
    margin-inline: 10px;
    border-radius: 50%;
    color: #fefefe;
    background-color: #150605;
    border: 2px #205072;
    margin-bottom: 20px;
}

 /* change background color of reset button on mouse over */
#reset:hover {
    background-color: rgb(101, 10, 10);
}

/* change background color of rules button on mouse over */
#rule-btn:hover {
    background-color: rgb(101, 10, 10);
}

/* change background color of play button on mouse over */
#start-btn:hover {
    background-color: rgb(101, 10, 10);
}

/* ensure content is centered and responsive */
#end-game {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 18pt;
    font-weight: 700;
}

/* Set size for game over image */
#end {
    padding-top: 25px;
    padding-bottom: 20px;
    width: 400px;
    height: 400px;
}

/* Media queries to ensure all elements are responsive on all screen sizes */
@media screen and (max-width: 1022px) {
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        width: 80%; 
        height: 80%;
    }
}

@media screen and (max-width: 800px) {
    #spock {
         width: 300px;
         height: 300px;
    }
}

@media screen and (max-width: 600px) {
    #player-options img {
        border-radius: 50%;
        width: 75px;
        height: 75px;
        justify-content: center;
        align-items: center;
        margin: 5px;
        display: flex;
        flex-wrap: wrap;
        flex-basis: 22.5%;;
    }

    h1, h2 {
        margin: 5px 5px 10px 5px;
        font-family: Orbitron, sans-serif;
        font-weight: 700;
    }
}

@media screen and (max-width: 580px) {
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        width: 100%; 
        height: 100%;
    }
}

@media screen and (max-width: 410px) {
    #end {
        padding-top: 25px;
        width: 300px;
        height: 300px;
    }
}    


/* Code for fixed footer from w3schools */
#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

#social-media {
    color: black;
    font-size: 200%;
   
}